<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #app {
            margin: 100px;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1 v-if="status">aaaaaaaaaaa</h1>
        <h2 v-show="status">bbbbbbbbbb</h2>
        <input type="checkbox" v-model="status">
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                status: true
            }
        })
    </script>
</body>
</html>