<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #app {
            margin: 100px;
        }
    </style>
</head>

<body>
    <div id="app">
       <label for="">栏目</label>
       <select name="" id="" v-model="cid">
           <option value="">==请选择栏目==</option>
           <option v-for="v in category" :value="v.id">{{v.title}}</option>
       </select>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
               cid: '',
               category: [
                   {cid: 1, title: 'Vue'},
                   {cid: 2, title: 'React'},
                   {cid: 3, title: 'Angular'},
                   {cid: 4, title: 'jQuery'},
               ]
            },
            methods: {
            }
        })
    </script>
</body>

</html>